.modal {
  display: none;
}
.modal.active {
  display: block;
  pointer-events: all;
}
.overlay.active {
  display: block;
}

.cursor {
  visibility: visible;
  transition: visibility 0.3s ease;
}

.cursor.blinkOff {
  visibility: hidden;
}
